<!-- Logback configuration. See http://logback.qos.ch/manual/index.html -->
<configuration debug="false" scan="true"
	scanPeriod="10 seconds">
	<property name="LOG_PATH" value="log"></property>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%line - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<logger name="org.apache.velocity" level="OFF"/>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>