<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${packetNameMapper}.JobsMapper">

	<resultMap id="poMap" type="${packetNamePo}.JobsPo">
	</resultMap>

	<!-- 表所有参数-->
	<sql id="tableCol">
	</sql>

	<!-- 实体所有参数-->
	<sql id="poVal">
	</sql>

	<sql id="where">
		<where>
		</where>
	</sql>

	<insert id="insert" parameterType="${packetNamePo}.JobsPo">
		<if test="val!=null">
			INSERT INTO ${tableName}(<include refid="tableCol" />)
			VALUES(<include refid="poVal"/>)
		</if>
	</insert>

	<insert id="insertOrUpdate" parameterType="${packetNamePo}.JobsPo">
		<if test="val!=null">
			INSERT INTO ${tableName}(<include refid="tableCol" />)
			VALUES(<include refid="poVal"/>)
			ON DUPLICATE KEY UPDATE
		</if>
	</insert>

	<insert id="insertList" parameterType="list">
		<if test="val!=null">
			INSERT INTO ${tableName}(<include refid="tableCol" />)
			VALUES
			<foreach collection="data" item="val" index="index" separator=",">
				(<include refid="poVal"/>)
			</foreach>
		</if>
	</insert>

	<delete id="removeBy">

	</delete>

	<select id="getBy">

	</select>

	<update id="updateBy">

	</update>

	<select id="getOne" parameterType="${packetNamePo}.JobsPo" resultMap="poMap" >
		SELECT <include refid="tableCol"/> FROM ${tableName}
		<include refid="where"/> LIMIT 1
	</select>

	<select id="getMany" parameterType="${packetNamePo}.JobsPo" resultMap="poMap">
		SELECT <include refid="tableCol"/> FROM ${tableName}
		<include refid="where"/>
	</select>

</mapper>