<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${packetNameMapper}.JobsMapper">

	<resultMap id="poMap" type="${packetNamePo}.JobsPo">
		<result column="id" property="id"/>
		<result column="queue" property="queue"/>
		<result column="payload" property="payload"/>
		<result column="attempts" property="attempts"/>
		<result column="reserved_at" property="reservedAt"/>
		<result column="available_at" property="availableAt"/>
		<result column="created_at" property="createdAt"/>
	</resultMap>

	<!-- 表所有参数-->
	<sql id="tableCol">
		`id`,
		`queue`,
		`payload`,
		`attempts`,
		`reserved_at`,
		`available_at`,
		`created_at`
	</sql>

	<!-- 实体所有参数-->
	<sql id="poVal">
		#{val.id},
		#{val.queue},
		#{val.payload},
		#{val.attempts},
		#{val.reservedAt},
		#{val.availableAt},
		#{val.createdAt}
	</sql>

	<sql id="where">
		<where>
			<if test="val.id!=null">and id = #{val.id}}</if>
			<if test="val.queue!=null">and queue = #{val.queue}}</if>
			<if test="val.payload!=null">and payload = #{val.payload}}</if>
			<if test="val.attempts!=null">and attempts = #{val.attempts}}</if>
			<if test="val.reservedAt!=null">and reserved_at = #{val.reservedAt}}</if>
			<if test="val.availableAt!=null">and available_at = #{val.availableAt}}</if>
			<if test="val.createdAt!=null">and created_at = #{val.createdAt}}</if>
		</where>
	</sql>

	<insert id="insert" parameterType="${packetNamePo}.JobsPo">
		<if test="val!=null">
			INSERT INTO jobs(<include refid="tableCol" />)
			VALUES(<include refid="poVal"/>)
		</if>
	</insert>

	<insert id="insertOrUpdate" parameterType="${packetNamePo}.JobsPo">
		<if test="val!=null">
			INSERT INTO jobs(<include refid="tableCol" />)
			VALUES(<include refid="poVal"/>)
			ON DUPLICATE KEY UPDATE
			id = values(id),
			queue = values(queue),
			payload = values(payload),
			attempts = values(attempts),
			reserved_at = values(reserved_at),
			available_at = values(available_at),
			created_at = values(created_at)
		</if>
	</insert>

	<insert id="insertList" parameterType="list">
		<if test="val!=null">
			INSERT INTO jobs(<include refid="tableCol" />)
			VALUES
			<foreach collection="data" item="val" index="index" separator=",">
				(<include refid="poVal"/>)
			</foreach>
		</if>
	</insert>

	<delete id="removeById">
		DELETE FROM jobs WHERE id = #{val}
	</delete>

	<select id="getById">
		SELECT <include refid="tableCol"/> FROM jobs WHERE id = #{val} limit 1
	</select>

	<update id="updateById">
		<if test="val != null and val.id !=null">
			UPDATE jobs t SET
			t.id = #{val.id}
			t.queue = #{val.queue}
			t.payload = #{val.payload}
			t.attempts = #{val.attempts}
			t.reserved_at = #{val.reservedAt}
			t.available_at = #{val.availableAt}
			t.created_at = #{val.createdAt}
			WHERE id = #{val.id}
		</if>
	</update>

	<select id="getOne" parameterType="com.ksptooi.app.model.po.JobsPo" resultMap="poMap" >
		SELECT <include refid="tableCol"/> FROM jobs
		<include refid="where"/> LIMIT 1
	</select>

	<select id="getMany" parameterType="com.ksptooi.app.model.po.JobsPo" resultMap="poMap">
		SELECT <include refid="tableCol"/> FROM jobs
		<include refid="where"/>
	</select>

</mapper>